In [0]:
import pandas as pd
# Install Java, Spark, and Findspark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

In [2]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2020-05-14 22:34:06--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  1.05MB/s    in 0.8s

2020-05-14 22:34:08 (1.05 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
from pyspark import SparkFiles
url="https://qos-bucket.s3.us-east-2.amazonaws.com/credit_default_clean.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("credit_default_clean.csv"), sep=",", header=True, inferSchema=True)
df.show()

+---+---+---------+------+-----------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
|_c0| ID|LIMIT_BAL|   SEX|  EDUCATION|MARRIAGE|AGE|PAY_0|PAY_2|PAY_3|PAY_4|PAY_5|PAY_6|BILL_AMT1|BILL_AMT2|BILL_AMT3|BILL_AMT4|BILL_AMT5|BILL_AMT6|PAY_AMT1|PAY_AMT2|PAY_AMT3|PAY_AMT4|PAY_AMT5|PAY_AMT6|default payment next month|
+---+---+---------+------+-----------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
|  0|  1|    20000|Female| University| married| 24|    2|    2|   -1|   -1|   -2|   -2|     3913|     3102|      689|        0|        0|        0|       0|     689|       0|       0|       0|       0|                       yes|
|  1|  2|   120000|Female| University|  single| 26|   -1|    2|    0|    0|    0|    2|     2682|     1725|     2682|     3272|     3455|     3261|       0|    1000|    1000|    1000|       0|    2000|                       yes|
|  2|  3|    90000|Female| University|  single| 34|    0|    0|    0|    0|    0|    0|    29239|    14027|    13559|    14331|    14948|    15549|    1518|    1500|    1000|    1000|    1000|    5000|                        no|
|  3|  4|    50000|Female| University| married| 37|    0|    0|    0|    0|    0|    0|    46990|    48233|    49291|    28314|    28959|    29547|    2000|    2019|    1200|    1100|    1069|    1000|                        no|
|  4|  5|    50000|  Male| University| married| 57|   -1|    0|   -1|    0|    0|    0|     8617|     5670|    35835|    20940|    19146|    19131|    2000|   36681|   10000|    9000|     689|     679|                        no|
|  5|  6|    50000|  Male|Grad School|  single| 37|    0|    0|    0|    0|    0|    0|    64400|    57069|    57608|    19394|    19619|    20024|    2500|    1815|     657|    1000|    1000|     800|                        no|
|  6|  7|   500000|  Male|Grad School|  single| 29|    0|    0|    0|    0|    0|    0|   367965|   412023|   445007|   542653|   483003|   473944|   55000|   40000|   38000|   20239|   13750|   13770|                        no|
|  7|  8|   100000|Female| University|  single| 23|    0|   -1|   -1|    0|    0|   -1|    11876|      380|      601|      221|     -159|      567|     380|     601|       0|     581|    1687|    1542|                        no|
|  8|  9|   140000|Female|High School| married| 28|    0|    0|    2|    0|    0|    0|    11285|    14096|    12108|    12211|    11793|     3719|    3329|       0|     432|    1000|    1000|    1000|                        no|
|  9| 10|    20000|  Male|High School|  single| 35|   -2|   -2|   -2|   -2|   -1|   -1|        0|        0|        0|        0|    13007|    13912|       0|       0|       0|   13007|    1122|       0|                        no|
| 10| 11|   200000|Female|High School|  single| 34|    0|    0|    2|    0|    0|   -1|    11073|     9787|     5535|     2513|     1828|     3731|    2306|      12|      50|     300|    3738|      66|                        no|
| 11| 12|   260000|Female|Grad School|  single| 51|   -1|   -1|   -1|   -1|   -1|    2|    12261|    21670|     9966|     8517|    22287|    13668|   21818|    9966|    8583|   22301|       0|    3640|                        no|
| 12| 13|   630000|Female| University|  single| 41|   -1|    0|   -1|   -1|   -1|   -1|    12137|     6500|     6500|     6500|     6500|     2870|    1000|    6500|    6500|    6500|    2870|       0|                        no|
| 13| 14|    70000|  Male| University|  single| 30|    1|    2|    2|    0|    0|    2|    65802|    67369|    65701|    66782|    36137|    36894|    3200|       0|    3000|    3000|    1500|       0|                       yes|
| 14| 15|   250000|  Male|Grad School|  single| 29|    0|    0|    0|    0|    0|    0|    70887|    67060|    63561|    59696|    56875|    55512|    3000|    3000|    3000|    3000|    3000|    3000|                        no|
| 15| 16|    50000|Female|High School|   other| 23|    1|    2|    0|    0|    0|    0|    50614|    29173|    28116|    28771|    29531|    30211|       0|    1500|    1100|    1200|    1300|    1100|                        no|
| 16| 17|    20000|  Male|Grad School|  single| 24|    0|    0|    2|    2|    2|    2|    15376|    18010|    17428|    18338|    17905|    19104|    3200|       0|    1500|       0|    1650|       0|                       yes|
| 17| 18|   320000|  Male|Grad School| married| 49|    0|    0|    0|   -1|   -1|   -1|   253286|   246536|   194663|    70074|     5856|   195599|   10358|   10000|   75940|   20000|  195599|   50000|                        no|
| 18| 19|   360000|Female|Grad School| married| 49|    1|   -2|   -2|   -2|   -2|   -2|        0|        0|        0|        0|        0|        0|       0|       0|       0|       0|       0|       0|                        no|
| 19| 20|   180000|Female|Grad School|  single| 29|    1|   -2|   -2|   -2|   -2|   -2|        0|        0|        0|        0|        0|        0|       0|       0|       0|       0|       0|       0|                        no|
+---+---+---------+------+-----------+--------+---+-----+-----+-----+-----+-----+-----+---------+---------+---------+---------+---------+---------+--------+--------+--------+--------+--------+--------+--------------------------+
only showing top 20 rows

In [5]:
df = df.select("*").toPandas()
df.head()

   _c0  ID  LIMIT_BAL  ... PAY_AMT5 PAY_AMT6 default payment next month
0    0   1      20000  ...        0        0                        yes
1    1   2     120000  ...        0     2000                        yes
2    2   3      90000  ...     1000     5000                         no
3    3   4      50000  ...     1069     1000                         no
4    4   5      50000  ...      689      679                         no

[5 rows x 26 columns]

In [6]:
user_demo = df[['ID', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'LIMIT_BAL', 'default payment next month']]
user_demo.head()

   ID     SEX   EDUCATION MARRIAGE  AGE  LIMIT_BAL default payment next month
0   1  Female  University  married   24      20000                        yes
1   2  Female  University   single   26     120000                        yes
2   3  Female  University   single   34      90000                         no
3   4  Female  University  married   37      50000                         no
4   5    Male  University  married   57      50000                         no

In [7]:
payment_status = df[['ID', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']]
payment_status.head()

   ID  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5  PAY_6
0   1      2      2     -1     -1     -2     -2
1   2     -1      2      0      0      0      2
2   3      0      0      0      0      0      0
3   4      0      0      0      0      0      0
4   5     -1      0     -1      0      0      0

In [8]:
bill_amount = df[['ID', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6']]
bill_amount.head()

   ID  BILL_AMT1  BILL_AMT2  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6
0   1       3913       3102        689          0          0          0
1   2       2682       1725       2682       3272       3455       3261
2   3      29239      14027      13559      14331      14948      15549
3   4      46990      48233      49291      28314      28959      29547
4   5       8617       5670      35835      20940      19146      19131

In [9]:
payment_amount = df[['ID', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']]
payment_amount.head()
password = 'turambar1'

   ID  PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0   1         0       689         0         0         0         0
1   2         0      1000      1000      1000         0      2000
2   3      1518      1500      1000      1000      1000      5000
3   4      2000      2019      1200      1100      1069      1000
4   5      2000     36681     10000      9000       689       679

In [0]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine(f'postgresql://root:{password}@mypostgresdb.c1ugovqjchx6.us-east-2.rds.amazonaws.com:5432/my_data_class_db')

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [12]:
engine.table_names()

['bill_amount', 'user_demo', 'payment_status', 'payment_amount']

In [13]:
bill_amount.to_sql(name='bill_amount', con=engine, if_exists='replace', index=False)
user_demo.to_sql(name='user_demo', con=engine, if_exists='replace', index=False)
payment_status.to_sql(name='payment_status', con=engine, if_exists='replace', index=False)
payment_amount.to_sql(name='payment_amount', con=engine, if_exists='replace', index=False)

KeyboardInterrupt: ignored